body {
    background: url(https://images.unsplash.com/photo-1639610406535-0cc671a0f20a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: #FAFAFA !important;
}
h1,
h2,
p,
hr,
ul {
    margin: 0;
    padding: 0;
}
#page-wrap {
    display: flex;
    -moz-display: flex;
    justify-content: center;
    -moz-justify-content: center;
    padding-top:10%;
}

.card {
    background: repeating-linear-gradient(-45deg, #9ACDB6 0%, #9ACDB6 10%, #A2D8C0 0%, #A2D8C0 50%) 0 / 5px 5px;
    width: 400px;
    height: 550px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    border: 5px solid #FAEEC6;
    box-shadow: 0 6px 5px rgba(0, 0, 0, .1), 0 6px 5px rgba(0, 0, 0, .1);
}
@media only screen and (max-width: 600px) {
    #page-wrap{
        padding-top: 40%;
    }
    .card {
        width: 200px; 
        height: 300px;
        margin: 0 auto; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}
.card-container {
    position: relative;
    top: 0;
    bottom: 0;
}

.card-behind {
    background: #FAFAFA;
    position: absolute;
    display: block;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    z-index: -1000;
    border: 5px solid #EEE;
}
.card-container-content {
    position: absolute;
    z-index: -99;
    -moz-transform: translateX(-100%);
}

.card-container-content p {
    padding: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}

.card-container-content p span {
    display: block;
    line-height: 40px;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-container .back{
        width: 200px;
        height: 300px;
    }
    .card-container-content {
        width: 200px;
        height: 300px;
    }
}

.card-container .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: inline-block;
    position: absolute;
    background: #A2D8C0;
    background: repeating-linear-gradient(-45deg, #9ACDB6 0%, #9ACDB6 10%, #A2D8C0 0%, #A2D8C0 50%) 0 / 5px 5px;
}

.front {
    content: url("./card-front.png");
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: darkgoldenrod;
}

.card-container .front h2 {

    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Lobster 1.3', serif;
    position: absolute;
    top: 450px;
    left: 90px;
    color: #FAFAFA;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .32);
}

#greeting {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    padding-top: 25%;
}
@media only screen and (max-width: 600px) {
    #greeting {
        font-size: 20px;
        padding-top: 8%;
    }
}
.card-container .front span {
    padding: 5px;
    color: #FAFAFA;
}

.card-container-content span {
    font-size: 32px;
    text-align: center;
}



.snowman img {
    content: url(https://scontent.fsgn2-7.fna.fbcdn.net/v/t1.15752-9/396325606_1032324761422823_3409097549604216215_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8cd0a2&_nc_ohc=-i0nJqb7usIAX_KFqPG&_nc_ht=scontent.fsgn2-7.fna&oh=03_AdRdnvxDoZYXbn53KWMjsx4XbN4ASuVAgPRCThd0BZmL-g&oe=657E2EB8);
    width: 65%;
    height: 65%;
    margin: 17%;
    padding-top: 10%;
    align-items: center;
    object-fit: fill;
}

.back .background {
    position: absolute;
    background: #B0B8CF;
    left: 50px;
    top: 50px;
    width: 300px;
    height: 300px;
    z-index: -1000;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
    border-radius: 50%;
}



